body{
  padding: 10px;
  background: #ccc;
}
.wrap{
  width: 810px;
  margin: 0 auto;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  padding: 10px;
  background: #fff;
}

.content{}

.list-options{
  text-align: right;
}

#tasks{
  list-style: none;
  margin: 0;
  padding: 0;
}

.task{
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  margin: 10px 0;
  padding: 8px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
}

.task.view:hover{
  background-color: #ddd;
  background-image: -moz-linear-gradient(top, #ffffff, #ddd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ddd));
  background-image: -webkit-linear-gradient(top, #ffffff, #ddd);
  background-image: -o-linear-gradient(top, #ffffff, #ddd);
  background-image: linear-gradient(to bottom, #ffffff, #ddd);
  box-shadow: 0px 0px 5px 1px #ccc;
}

.task.view{
  cursor: pointer;
}

.task form{
  margin-bottom: 0;
}

.text,
.due_date,
.priority,
.is_completed,
.actions{
  display: inline;
}

.completed div.text{
  text-decoration: line-through;
}

.view .text,
.view .due_date,
.view .priority{
  display: inline-block;
}
.view .due_date{
  font-weight: bold;
}

input[name=due_date]{
  width: 120px;
}

.is_completed{
  margin-bottom: 10px;
}

.add-task{
  color: #666;
  text-align: center;
  padding: 15px;
  border: 1px dashed #ccc;
  border-radius: 4px;
  margin: 10px 0;
  background: #fafafa;
  cursor: pointer;
}

.modal-body{
  text-align: center;
}

.notifications{
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 30px;
  z-index: 1000;
}